:root {
  /* Primary */
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);

  /* Neutral */
  --very-dark-blue-main: hsl(217, 54%, 11%); /* (main BG) */
  --very-dark-blue-card: hsl(216, 50%, 16%); /* (card BG) */
  --very-dark-blue-line: hsl(215, 32%, 27%); /* (line) */
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-family: 'Outfit', sans-serif;
  background-color: var(--very-dark-blue-main);
}

html {
  font-size: 62.5%;
}

.main {
  width: 90%;
  max-width: 340px;
  padding: 25px 23px 30px;
  margin: 40px auto;
  background-color: var(--very-dark-blue-card);
  border-radius: 20px;
}

.main__img {
  max-height: 294px;
  position: relative;
  cursor: pointer;
}

.main__img img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.main__img--view {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #0198ad;
  border-radius: 10px;
  opacity: 0;
}

.main__img--view img {
  width: max-content;
  height: max-content;
}

.main__img:hover .main__img--view {
  opacity: 0.8;
  transition: all 0.5s ease;
}

.main__title {
  margin: 20px 0 15px;
  font-size: 2.3rem;
  color: var(--white);
}

.main__title:hover {
  color: var(--cyan);
  cursor: pointer;
}

.main__paragraph {
  margin-bottom: 20px;
  font-size: clamp(1.4rem, 4.5vw, 1.7rem);
  line-height: 1.5;
  color: var(--soft-blue);
}

.main__price {
  min-width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--very-dark-blue-line);
  padding-bottom: 20px;
}

.main__eth,
.main__date {
  display: flex;
  font-size: 1.5rem;
}

.main__eth p {
  color: var(--cyan);
  font-weight: 600;
  margin-left: 8px;
}

.main__date p {
  margin-left: 8px;
  color: var(--soft-blue);
}

.main__profile {
  padding-top: 15px;
  display: flex;
  align-items: center;
}

.main__profile img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid white;
}

.main__profile p {
  font-size: 1.6rem;
  margin-left: 15px;
  color: var(--soft-blue);
}

.main__profile a {
  text-decoration: none;
  color: var(--white);
}

.main__profile a:hover {
  color: var(--cyan);
}
